@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg-image {

    background: url('hero_back.jpg') no-repeat center center;
    background-attachment: fixed;
    height: 600px;
}

html,
body {
    font-family: 'Montserrat', sans-serif !important;
}

#mas {
    animation: hideAnimation 0s ease-in 4s;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}